*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  background-color:  hsl(218, 23%, 16%);
}

/* Main */ 
main {
  position: relative;
  width: 95%;
  max-width: 33.75rem;
  background-color: hsl(217, 19%, 24%);
  padding: 3.25rem 3rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 0.4rem;
}

.title { 
  text-transform: uppercase;
  color:hsl(150, 100%, 66%);
  letter-spacing: .2rem;
}

.icon-dice { 
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(150, 100%, 66%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-dice.disabled {
  cursor: not-allowed !important;
}

.icon-dice:hover { 
  box-shadow: 0 0 2.5rem hsl(150, 100%, 66%);
  cursor: pointer;
}

.quote { 
  color:hsl(193, 38%, 86%);
  font-size: 28px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.circle-ids {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.circle-ids.disabled {
  display: none;
}

.circle-ids:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: circle-ids 1.2s linear infinite;
}



/* Dividers */
.divider-desktop {
  display: block;
  margin-bottom: 1.2rem;
}

.divider-mobile {
  display: none;
}

/* Footer */
.attribution { 
  position: absolute;
  bottom: .8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  color: white; 
}
  
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Animation */
@keyframes circle-ids {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  main {
      padding: 2.6rem 1.5rem;
  }

  .divider-mobile {
      display: block;
      margin-bottom: 0.9rem;
  }

  .divider-desktop {
      display: none;
  }
}